<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="MongoServerSettings" connectionString="mongodb://bloom:sageDEV!!@ds040089.mlab.com:40089/bloomservicemdb"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SageUsername" value="bloom" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SagePassword" value="sageDEV!!" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SiteUrl" value="http://devservice.bloomroofing.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SertificateUrl" value="~/App_Data/PushNotification/BloomServiceAPNSAdHoc.p12" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MainDb" value="bloomservicemdb" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SageApiHost" value="http://12.217.205.13:81/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
