body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#content {
    max-width: 200px;
    margin: 20px auto 0 auto;
}

#pagination {
    text-align: center;
}

.main-logo {
    /*background-image: url('/public/images/logo.png');*/
    width: 300px;
    height: 149px;
}

.error {
    color: red;
}

.nav-logo {
    width: 155px;
    height: 80px;
    background-size: cover;
}

#cover {
    height: 100%;
    /*background: url('/public/images/loading.gif') no-repeat scroll 50% 50% transparent;*/
    overflow: hidden;
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 3%; 
}
