<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Schedule</h2>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content ui-calendar">
                    <div id="calendar" ui-calendar="uiConfig.calendar" calendar="schedule" class="calendar" ng-model="eventSources"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">    
        <div class="col-lg-12">
            <div class="ibox float-e-margins dragdpor_section">
                <div class="ibox-title">
                    <h5>Unassigned Workorders</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th data-hide="phone,tablet">Customer</th>
                            <th data-hide="phone,tablet">Location</th>
                            <th data-hide="phone,tablet">Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workorder in unassignedWorkorders" class="drag fc-event" style=" z-index: 999">
                                <td>{{workorder.number}}</td>
                                <td>{{workorder.date}}</td>
                                <td>{{workorder.customer}}</td>
                                <td>{{workorder.location}}</td>
                                <td>{{workorder.hours}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>