<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Schedule</h2>
    </div>
</div>
<div id="schedule" class="wrapper wrapper-content">
    <div id="area" class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content ui-calendar">
                    <div id="calendar" ui-calendar="uiConfig.calendar" calendar="schedule" class="calendar" ng-model="eventSources"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins dragdpor_section">
                <div class="ibox-title">
                    <h5>Unassigned Workorders</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" ng-model="search" id="filter" placeholder="Search in table">
                    <div class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <div class="table row " style="display: block">
                            <div class="footable-sortable col-lg-1 col-md-1 col-sm-6 col-xs-6 WorkOrder" ng-init="data = ''" ng-click="data='WorkOrder'; changeSorting(data)">
                                <h4>#</h4><span class="footable-sort-indicator"></span>
                            </div>
                            <div class="footable-sortable col-lg-2 col-md-2 col-sm-6 col-xs-6 DateEntered" ng-click="data = 'DateEntered'; changeSorting(data)">
                                <h4>Date</h4>
                                <span class="footable-sort-indicator"></span>
                            </div>
                            <div class="footable-sortable col-lg-3 col-md-3 hidden-sm hidden-xs ARCustomer" ng-click="data = 'ARCustomer'; changeSorting(data)">
                                <h4>Customer</h4>
                                <span class="footable-sort-indicator"></span>
                            </div>
                            <div class="footable-sortable col-lg-4 col-md-4 hidden-sm hidden-xs Location" ng-click="data = 'Location'; changeSorting(data)">
                                <h4>Location</h4>
                                <span class="footable-sort-indicator"></span>
                            </div>
                            <div class="footable-sortable col-lg-2 col-md-2 hidden-sm hidden-xs EstimatedRepairHours" ng-click="data = 'EstimatedRepairHours'; changeSorting(data)">
                                <h4>Hours</h4>
                                <span class="footable-sort-indicator"></span>
                            </div>
                        </div>
                        <div id="new-row"></div>
                        <div ng-repeat="workorder in unassignedWorkorders|orderBy:sortKey:reverse|filter:search" class="drag fc-event table row table-row dragdemo shedule-row cursor-pointer" draggable="true" ui-sref="manager.workorder.edit({ id: '{{workorder.Id}}'})">
                            <div class="table-row col-lg-1 col-md-1 col-sm-6 col-xs-6">{{workorder.WorkOrder}}</div>
                            <div class="table-row col-lg-2 col-md-2 col-sm-6 col-xs-6">{{workorder.DateEntered}}</div>
                            <div class="table-row col-lg-3 col-md-3 hidden-sm hidden-xs">{{workorder.ARCustomer}}</div>
                            <div class="table-row col-lg-4 col-md-4 hidden-sm hidden-xs">{{workorder.Location}}</div>
                            <div class="table-row col-lg-2 col-md-2 hidden-sm hidden-xs">{{workorder.EstimatedRepairHours}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>