<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit Technician</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content edit_technician">
                    <form role="form" name="edit_technician_form" novalidate>
                        <div class="form-group col-xs-3">
                            <label>Available</label>
                            <br />
                            <br />
                            <input type="checkbox" class="js-switch" ui-switch="{color:'#ED5565', secondaryColor:'#df4242'}" ng-model="obj.notAvailable" />
                        </div>
                        <div class="form-group col-xs-3 " id="external-events-listing">
                            <label>Drag to set not available time</label>
                            <br />
                            <br />
                            <div>
                                <div class='fc-event col-xs-6'>Not available</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label>Select color</label>
                            <br />
                            <br />
                            <div id="colorId" class="btn small demo colorpicker-element" >
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="pull-right">Picture</label>
                            <br />
                            <br />
                            <img id="avatar" class="img-circle pull-right" alt="" />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="file_upload">
                                <button type="button" class="btn btn-raised btn-primary btn-w-sm ui-wave btn-upload">Select Picture</button>
                                <input type="file" ngf-accept="'image/*'" accept="image/*"  onchange="angular.element(this).scope().uploadFile(this.files)">
                            </div>
                           
                        </div>
                        <div class="form-group ui-calendar">
                            <label>Weekly Schedule</label>
                            <div ui-calendar="uiConfig.calendar" calendar="schedule" class="calendar" ng-model="eventSources"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit" ng-click="saveTechnician()"><strong>Save</strong></button>
                <button class="btn btn-sm btn-danger" type="cancel" back><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>