<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Technicians</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th data-hide="phone,tablet">Available</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="technician in technicians">
                            <td>{{technician.Employee}}</td>
                            <td>{{technician.Name}}</td>
                            <td>
                                <span class="label" ng-class="technician.Inactive == 'No' ? 'label-primary' : 'label-danger'">
                                    {{technician.Inactive == 'No' ? "Available" : "Not Available" }}
                                </span>
                            </td>
                            <td class="center">
                                <a ui-sref="manager.technician.edit({ id: {{technician.Employee}} })" c class="btn btn-primary btn-xs">Edit...</a>
                            </td>
                        </tr>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>