<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Technicians</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" ng-model="search" id="filter" placeholder="Search in table">
                    <table class="table footable">
                        <thead>
                        <tr>
                            <th ng-click="sort('Employee')">#</th>
                            <th ng-click="sort('Name')">Full Name</th>
                            <th ng-click="sort('IsAvailable')" data-hide="phone,tablet">Available</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="technician in technicians|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                            <td>{{technician.Employee}}</td>
                            <td>{{technician.Name}}</td>
                            <td>
                                <span class="label" ng-class="technician.IsAvailable == true ? 'label-available' : 'label-danger'">
                                    {{technician.IsAvailable == true ? "Available" : "Not Available" }}
                                </span>
                            </td>
                            <td class="center">
                                <a ui-sref="manager.technician.edit({ id: '{{technician.Id}}' })" c class="btn btn-primary btn-xs">Edit...</a>
                            </td>
                        </tr>
                    </table>
                     <table class="table">
                            <tr  style="display: table-row !important;">
                                <td colspan="6" class="text-center">
                                    <dir-pagination-controls max-size="10"
                                                             direction-links="true">
                                        <!--  boundary-links="true"-->
                                    </dir-pagination-controls>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>