<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Dashboard</h2>
    </div>
    <!--<div class="col-lg-3 pull-right">
        <div class="form-group map_date">
            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="obj.mapDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>-->
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Chart</h5>
                </div>
                <div class="ibox-content">
                    <div class="tags-container margin-bottom-10"></div>
                    <div class="flot-chart" style="height: 360px">
                        <div flot class="flot-chart-content" dataset="chartData" options="flotChartOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="col-lg-6 col-md-6">
                        <h5>Today's Work Orders</h5>
                    </div>
                    <div class="col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4" >
                        <label class="pull-right dashboard-label"><input type="checkbox" class="dashboard-checkbox" ng-change="showAllLocations()" ng-model="showAll" value="">Show all</label>
                    </div>
                </div>


                <div class="ibox-content">
                    <div class="margin-bottom-10 tags-container">
                        <ng-repeat ng-repeat="value in activeTechnicans">
                            <span class="label map-tag" ng-style="{'background-color':value.Color==null?'red':value.Color}">{{value.Name}}</span>
                        </ng-repeat>
                    </div>
                    <section id="map">
                        <div ui-map="locationMap" ui-options="mapOptions" class="google-map" style="height: 360px;"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Workorders</h5>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" ng-model="search" id="filter" placeholder="Search in table">
                    <table class="table footable">
                        <thead>
                        <tr>
                            <th ng-click="sort('WorkOrder')">
                                #
                            </th>
                            <th ng-click="sort('ScheduleDate')" class="footable-sorted">
                                Schedule Date
                            </th>
                            <th ng-click="sort('DateEntered')">
                                Entered Date
                            </th>
                            <th ng-click="sort('ARCustomer')">
                                Customer
                            </th>
                            <th ng-click="sort('Location')">
                                Location
                            </th>
                            <th ng-click="sort('Address')">
                                Address
                            </th>
                            <th ng-click="sort('AssignmentId')">
                                Assignment
                            </th>
                            <th ng-click="sort('status')">
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="workorder in listworkorders|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" class="cursor-pointer" ui-sref="manager.workorder.edit({ id: '{{workorder.Id}}'})">
                            <td>{{workorder.WorkOrder}}</td>
                            <td data-sort-initial="true">{{workorder.ScheduleDate|date:'mediumDate' : 'UTC'}}</td>
                            <td>{{workorder.DateEntered|date:'mediumDate' : 'UTC'}}</td>
                            <td>{{workorder.ARCustomer}}</td>
                            <td>{{workorder.Location}}</td>
                            <td>{{workorder.Address}}</td>
                            <td>
                                <span class="label" ng-class="workorder.AssignmentId == 0 ? 'label-available' : 'label-danger' ">
                                    {{workorder.AssignmentId == 0 ? 'Assigned' : 'Not assigned' }}
                                </span>
                            </td>
                            <td>
                                <span class="label statusColor vertical-middle" ng-class="workorder.status == 'closed' ? 'label-danger' : 'open' ">
                                        {{workorder.Status == 'closed' ? "Closed" : "Open" }}
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tr class="hide-if-no-paging" style="display: table-row !important;">
                            <td colspan="6" class="text-center">
                                <dir-pagination-controls max-size="10"
                                                         direction-links="true">
                                    <!-- boundary-links="true"-->
                                </dir-pagination-controls>
                            </td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>
    </div>
</div>
