<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-2">
        <h2>Map</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-5  map_date">
        <div class="checkbox pull-right">
            <label><input type="checkbox" class="dashboard-checkbox" ng-change="showAllLocations()" ng-model="showAll" value="">Show all</label>
        </div>
    </div>
    <div class="col-lg-3 pull-right">
        <div class="form-group map_date">
            <div class="input-group date">
                <input type="datetime" class="form-control" date-time ng-model="obj.mapDate" ng-disabled="showAll" view="date" auto-close="true" min-view="date" format="MM/DD/YYYY">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight fill">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <section id="map">
                        <div ui-map="locationMap" ui-options="mapOptions" class="google-map" style="height: 730px; min-height: 100%;"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>