<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit workorder</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox"> 
    <tabset>
        <tab heading="Workorder">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <form role="form" name="edit_workorder_form" novalidate ng-submit="saveWorkOrder()">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <div angucomplete-alt placeholder="Customer" maxlength="50" local-data="lookups.Customers" selected-object="lookups.Customers.selected"
                                         search-fields="Name" title-field="Name" minlength="1" input-class="form-control form-control-small" match-class="highlight">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <div angucomplete-alt placeholder="Location" maxlength="50" local-data="lookups.Locations" selected-object="lookups.Locations.selected"
                                         search-fields="Name" title-field="Name" minlength="1" input-class="form-control form-control-small" match-class="highlight">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Call Type</label>
                                    <ui-select ng-model="lookups.Calltypes.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Call Type">{{$select.selected.Description}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Calltypes | filter: $select.search">
                                            <div >{{item.Description}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Call Date</label>
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time ng-model="obj.calldate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Problem</label>
                                    <ui-select ng-model="lookups.Problems.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Problem">{{$select.selected.Description}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Problems | filter: $select.search">
                                            <div >{{item.Description}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Rate Sheet</label>
                                    <ui-select ng-model="lookups.RateSheets.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Rate Sheet">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.RateSheets | filter: $select.search">
                                            <div >{{item.DESCRIPTION}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Emploee</label>
                                    <ui-select ng-model="lookups.Employes.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Employee">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Employes | filter: $select.search">
                                            <div >{{item.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!--<div class="form-group">
                                    <label>Equiment to Service</label>
                                    <ui-select ng-model="lookups.Equipment.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Equipment to Service">{{$select.selected.EquipmentType}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Equipment | filter: $select.search">
                                            <div ng-bind-html="item.EquipmentType | highlight: $select.search">{{item.EquipmentType}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>-->
                                <div class="form-group">
                                    <label>Estimate Repair Hours</label>
                                    <ui-select ng-model="lookups.Hours.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Estimated Repair Hours">{{$select.selected.Description}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Hours | filter: $select.search">
                                            <div >{{item.Description}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Not to Exceed</label>
                                    <input type="text" placeholder="Not to Exceed" class="form-control" name="notToExceed" ng-model="obj.nottoexceed" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Location comments</label>
                                    <input type="text" placeholder="Location comments" class="form-control" name="locationComments" ng-model="obj.locationcomments" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Customer PO</label>
                                    <input type="text" placeholder="Customer PO" class="form-control" name="CustomerPO" ng-model="obj.customerpo" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Persmission Code</label>
                                    <ui-select ng-model="lookups.PermissionCodes.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Persmission Code">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.PermissionCodes | filter: $select.search">
                                            <div >{{item.DESCRIPTION}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Payment method</label>
                                    <ui-select ng-model="lookups.PaymentMethods.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Payment method">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.PaymentMethods | filter: $select.search">
                                            <div >{{item}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Parts and Labor">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="footable table table-stripped equip">
                                <thead>
                                <tr>
                                    <th  >Work Date</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Employee</th>
                                    <th>Cost Qty</th>
                                    <th>Biled Qty or S/N</th>
                                    <th>Rate</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX"  ng-repeat="equipm in equipment track by $index">
                                    <td ng-if="equipm.isEditing == true">
                                        <div class="input-group date">
                                            <input type="datetime" class="form-control" date-time ng-model="equipm.date" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.date}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <ui-select ng-model="equipm.equipType.selected" theme="bootstrap">
                                            <ui-select-match placeholder="Type">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="item in equipm.equipType | filter: $select.search">
                                                <div >{{item}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.equipType}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <div ng-if="equipm.equipType.selected == 'Labor'" angucomplete-alt placeholder="Description" maxlength="50"  local-data="equipm.labor"  selected-object="equipm.labor.selected"
                                             search-fields="Description" title-field="Description" minlength="1" input-class="form-control form-control-small" match-class="highlight">
                                        </div>
                                       <div ng-if="equipm.equipType.selected == 'Parts' || !equipm.equipType.selected" angucomplete-alt placeholder="Description" maxlength="50" 
                                            selected-object="equipm.parts.selected" local-data="equipm.parts" search-fields="Description" title-field="Description" minlength="1" 
                                            input-class="form-control form-control-small" match-class="highlight">
                                       </div>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.description}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <ui-select ng-model="equipm.empl.selected" theme="bootstrap">
                                            <ui-select-match placeholder="Employee">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="item in equipm.empl | filter: $select.search">
                                                <div >{{item.Name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.empl}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <div class="input-group" ng-if="equipm.equipType.selected == 'Labor'">
                                            <input type="number" class="form-control" ng-model="equipm.cost" step="0.01" min="0.00" value="0.00">
                                        </div>
                                        <div class="input-group" ng-if="equipm.equipType.selected == 'Parts'  || !equipm.equipType.selected">
                                            <input type="number" class="form-control" ng-model="equipm.cost" disabled="disabled" step="0.01" min="0.00" value="0.00">
                                        </div>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.cost}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <div class="input-group">
                                            <input type="number" class="form-control" ng-model="equipm.biled" step="0.01" min="0.00" value="0.00">
                                        </div>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.biled}}</label>
                                    </td>
                                    <td ng-if="equipm.isEditing == true">
                                        <div class="input-group">
                                            <input type="number" class="form-control" ng-model="equipm.rate" step="0.0001" min="0.0000" value="0.0000">
                                        </div>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <label>{{equipm.rate}}</label>
                                    </td>

                                 
                                    <td class="center" ng-if="equipm.isEditing == true">
                                        <a class="btn btn-danger btn-xs" ng-click="saveRow(equipm, $index)">Save</a>
                                    </td>
                                    <td ng-if="equipm.isEditing == false">
                                        <a class="btn btn-danger btn-xs" ng-click="editRow(equipm, $index)">Edit</a>
                                        <a class="btn btn-danger btn-xs" ng-click="deleteRow($event, equipm)">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Pictures">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="footable table table-stripped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Piture</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX" ng-repeat="picture in pictures.Images">
                                        <td>{{picture.Image}}</td>
                                        <td>
                                            <img height="300" width="300" src="/Images/{{picture.Image}}" />
                                        </td>
                                        <td>
                                            <label>{{picture.Description}}</label>
                                        </td>
                                        <td ng-if="equipm.isEditing == false">
                                            <a class="btn btn-danger btn-xs" ng-click="">Display location</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <div class="row">
        <div class="col-lg-12">
             <div class="form-group">
                 <button class="btn btn-sm btn-primary" type="submit" ng-click="saveWorkOrder()"><strong>Save</strong></button>
                <button class="btn btn-sm btn-danger" type="cancel" back><strong>Cancel</strong></button>
             </div>
       </div>
    </div>
</div></div>