<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit workorder</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox"> 
    <tabset>
        <tab heading="Workorder">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <form role="form" name="edit_workorder_form" novalidate ng-submit="saveWorkOrder()">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <ui-select ng-model="lookups.Customers.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Customer">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Customers | filter: $select.search">
                                            <div ng-bind-html="item.Name | highlight: $select.search">{{item.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <ui-select ng-model="lookups.Locations.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Location">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Locations | filter: $select.search">
                                            <div ng-bind-html="item.Name | highlight: $select.search">{{item.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Call Type</label>
                                    <ui-select ng-model="lookups.Calltypes.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Call Type">{{$select.selected.Description}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Calltypes | filter: $select.search">
                                            <div ng-bind-html="item.Description | highlight: $select.search">{{item.Description}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Call Date</label>
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time ng-model="calldate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Problem</label>
                                    <ui-select ng-model="lookups.Problems.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Problem">{{$select.selected.Description}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Problems | filter: $select.search">
                                            <div ng-bind-html="item.Description | highlight: $select.search">{{item.Description}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Rate Sheet</label>
                                    <ui-select ng-model="lookups.Ratesheets.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Rate Sheet">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Ratesheets | filter: $select.search">
                                            <div ng-bind-html="item | highlight: $select.search">{{lookups}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Emploee</label>
                                    <ui-select ng-model="lookups.Employes.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Employee">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Employes | filter: $select.search">
                                            <div ng-bind-html="item.Name | highlight: $select.search">{{item.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Equiment to Service</label>
                                    <ui-select ng-model="lookups.Equipment.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Equipment to Service">{{$select.selected.EquipmentType}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Equipment | filter: $select.search">
                                            <div ng-bind-html="item.EquipmentType | highlight: $select.search">{{item.EquipmentType}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Estimate Repair Hours</label>
                                    <ui-select ng-model="lookups.Hours.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Estimated Repair Hours">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Hours | filter: $select.search">
                                            <div ng-bind-html="item | highlight: $select.search">{{item}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Not to Exceed</label>
                                    <input type="email" placeholder="Not to Exceed" class="form-control" name="notToExceed" ng-model="nottoexceed" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Location comments</label>
                                    <input type="text" placeholder="Location comments" class="form-control" name="locationComments" ng-model="locationcomments" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Customer PO</label>
                                    <input type="text" placeholder="Customer PO" class="form-control" name="CustomerPO" ng-model="customerpo" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Persmission Code</label>
                                    <input type="text" placeholder="Permission Code" class="form-control" name="permissionCode" ng-model="permissiocode" required>
                                    <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                        <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Payment method</label>
                                    <ui-select ng-model="lookups.PaymentMethods.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Payment method">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.PaymentMethods | filter: $select.search">
                                            <div ng-bind-html="item | highlight: $select.search">{{item}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Equipment">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="footable table table-stripped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Equipment</th>
                                    <th data-hide="phone,tablet">Count</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td>1</td>
                                    <td>Drill</td>
                                    <td>1</td>
                                    <td class="center">
                                        <a ui-sref="manager.technician.edit" class="btn btn-danger btn-xs">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Pictures">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="footable table table-stripped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Piture</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td>1</td>
                                    <td>Drill</td>
                                    <td class="center">
                                        <a ui-sref="manager.technician.edit" class="btn btn-danger btn-xs">Remove</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <div class="row">
        <div class="col-lg-12">
             <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit"><strong>Save</strong></button>
                <button class="btn btn-sm btn-danger" type="cancel" back><strong>Cancel</strong></button>
             </div>
       </div>
    </div>
</div></div>