<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 ng-bind-template="Edit workorder #{{editableWorkOrder.WorkOrder}}" ng-cloak></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="row">
            <tabset>
                <div class="row" ng-show="validation.other">
                    <div class="col-lg-12 ibox">
                        <span class="validation-message-head" ng-bind="validation.message"></span>
                    </div>
                </div>
                <tab heading="General">
                    <form role="form" name="edit_workorder_form" novalidate ng-submit="saveWorkOrder()">
                        <div class="row">
                            <!--1-->
                            <div class="col-lg-4 col-md-6">
                                <div class="ibox">
                                    <div class="ibox-content wo-ibox">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <ui-select ng-model="lookups.Locations.selected" theme="bootstrap" on-select="setLocation(this)" class="{{validation.location ? 'wo-validation' : ' '}}" ng-required="true" ng-click="validation.location = false">
                                                <ui-select-match placeholder="Location">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Locations | filter: $select.search | limitTo:100">
                                                    <div>{{item.Name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="validation-message" ng-show="validation.location" ng-bind="validation.message"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Location comments</label>
                                            <textarea rows="3" placeholder="Location comments" class="form-control" name="locationComments" ng-model="obj.locationcomments"></textarea>
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Customer</label>
                                            <ui-select ng-model="lookups.Customers.selected" theme="bootstrap" on-select="setCustomer(this)">
                                                <ui-select-match placeholder="Customer">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Customers | filter: $select.search | limitTo:100">
                                                    <div>{{item.Name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Customer PO</label>
                                            <input type="text" placeholder="Customer PO" class="form-control" name="CustomerPO" ng-model="obj.customerpo">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Equipment</label>
                                            <ui-select ng-model="lookups.Equipment.selected" theme="bootstrap" on-select="setEquipment(this)">
                                                <ui-select-match placeholder="Equipment">{{$select.selected.EquipmentType}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Equipment | filter: $select.search | limitTo:100">
                                                    <div>{{item.EquipmentType}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>


                                        <!-- 1.2-->
                                        <div class="form-group hidden-lg ">
                                            <label>Call Type</label>
                                            <ui-select ng-model="lookups.Calltypes.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Call Type">{{$select.selected.Description}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Calltypes | filter: $select.search">
                                                    <div>{{item.Description}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg ">
                                            <label>Call Date</label>
                                            <div class="input-group date">
                                                <input type="datetime" class="form-control" date-time ng-model="obj.calldate" view="date" auto-close="true" min-view="date" format="MM/DD/YYYY">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Contact</label>
                                            <input type="text" placeholder="Contact" class="form-control" name="Contact" ng-model="obj.contact">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Problem</label>
                                            <ui-select ng-model="lookups.Problems.selected" theme="bootstrap" on-select="setEstimateHour(this)" class="{{validation.problem ? 'wo-validation' : ' ' }}" ng-required="true" ng-click="validation.problem = false">
                                                <ui-select-match placeholder="Problem">{{$select.selected.Description}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Problems | filter: $select.search">
                                                    <div>{{item.Description}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Rate Sheet</label>
                                            <ui-select ng-model="lookups.RateSheets.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Rate Sheet">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.RateSheets | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <!--md 1.2-->
                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Estimated Repair Hours</label>
                                            <input type="number" class="form-control" ng-model="obj.hours" step="0.50" min="0.00" value="0.00" placeholder="Estimated Repair Hours">
                                        </div>

                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Not to Exceed</label>
                                            <input type="text" placeholder="Not to Exceed" class="form-control" name="notToExceed" ng-model="obj.nottoexceed">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <!-- 1.3-->

                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Permission Code</label>
                                            <ui-select ng-model="lookups.PermissionCodes.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Permission Code">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PermissionCodes | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg hidden-md">
                                            <label>Payment method</label>
                                            <ui-select ng-model="lookups.PaymentMethods.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Payment method">{{$select.selected.Method}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PaymentMethods | filter: $select.search">
                                                    <div>{{item.Method}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--2 md-->
                            <div class="col-md-6 visible-md">
                                <div class="ibox">
                                    <div class="ibox-content wo-ibox">
                                        <div class="form-group">
                                            <label>Contact</label>
                                            <input type="text" placeholder="Contact" class="form-control" name="Contact" ng-model="obj.contact">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group hidden-lg">
                                            <label>Problem</label>
                                            <ui-select ng-model="lookups.Problems.selected" theme="bootstrap" on-select="setEstimateHour(this)" class="{{validation.problem ? 'wo-validation' : ' ' }}" ng-required="true" ng-click="validation.problem = false">
                                                <ui-select-match placeholder="Problem">{{$select.selected.Description}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Problems | filter: $select.search">
                                                    <div>{{item.Description}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg">
                                            <label>Rate Sheet</label>
                                            <ui-select ng-model="lookups.RateSheets.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Rate Sheet">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.RateSheets | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg">
                                            <label>Estimated Repair Hours</label>
                                            <input type="number" class="form-control" ng-model="obj.hours" step="0.50" min="0.00" value="0.00" placeholder="Estimated Repair Hours">
                                        </div>
                                        <div class="form-group hidden-lg">
                                            <label>Not to Exceed</label>
                                            <input type="text" placeholder="Not to Exceed" class="form-control" name="notToExceed" ng-model="obj.nottoexceed">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <!-- 1.3-->
                                        <div class="form-group hidden-lg">
                                            <label>Permission Code</label>
                                            <ui-select ng-model="lookups.PermissionCodes.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Permission Code">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PermissionCodes | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-lg">
                                            <label>Payment method</label>
                                            <ui-select ng-model="lookups.PaymentMethods.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Payment method">{{$select.selected.Method}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PaymentMethods | filter: $select.search">
                                                    <div>{{item.Method}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--2 lg-->
                            <div class="col-lg-4 visible-lg">
                                <div class="ibox">
                                    <div class="ibox-content wo-ibox">
                                        <div class="form-group">
                                            <label>Call Type</label>
                                            <ui-select ng-model="lookups.Calltypes.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Call Type">{{$select.selected.Description}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Calltypes | filter: $select.search">
                                                    <div>{{item.Description}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Call Date</label>
                                            <div class="input-group date">
                                                <input type="datetime" class="form-control" date-time ng-model="obj.calldate" view="date" auto-close="true" min-view="date" format="MM/DD/YYYY">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Contact</label>
                                            <input type="text" placeholder="Contact" class="form-control" name="Contact" ng-model="obj.contact">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Problem</label>
                                            <ui-select ng-model="lookups.Problems.selected" theme="bootstrap" on-select="setEstimateHour(this)" class="{{validation.problem ? 'wo-validation' : ' ' }}" ng-required="true" ng-click="validation.problem = false">
                                                <ui-select-match placeholder="Problem">{{$select.selected.Description}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Problems | filter: $select.search">
                                                    <div>{{item.Description}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group hidden-md">
                                            <label>Rate Sheet</label>
                                            <ui-select ng-model="lookups.RateSheets.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Rate Sheet">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.RateSheets | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--3 lg-->
                            <div class="col-lg-4 visible-lg">
                                <div class="ibox">
                                    <div class="ibox-content wo-ibox">
                                        <div class="form-group">
                                            <label>Estimated Repair Hours</label>
                                            <input type="number" class="form-control" ng-model="obj.hours" step="0.50" min="0.00" value="0.00" placeholder="Estimated Repair Hours">
                                        </div>
                                        <div class="form-group">
                                            <label>Not to Exceed</label>
                                            <input type="text" placeholder="Not to Exceed" class="form-control" name="notToExceed" ng-model="obj.nottoexceed">
                                            <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                                                <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Permission Code</label>
                                            <ui-select ng-model="lookups.PermissionCodes.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Permission Code">{{$select.selected.DESCRIPTION}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PermissionCodes | filter: $select.search">
                                                    <div>{{item.DESCRIPTION}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Payment method</label>
                                            <ui-select ng-model="lookups.PaymentMethods.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Payment method">{{$select.selected.Method}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.PaymentMethods | filter: $select.search">
                                                    <div>{{item.Method}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Status</label>
                                            <ui-select ng-model="lookups.Status.selected" theme="bootstrap">
                                                <ui-select-match placeholder="Status">{{$select.selected.Status}}</ui-select-match>
                                                <ui-select-choices repeat="item in lookups.Status | filter: $select.search">
                                                    <div>{{item.Status}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Mark as reviewed</label><br />
                                            <button class="btn btn-sm btn-primary btn-mark-as" type="button" ng-click="markAsReviewed()"><strong>Mark as reviewed</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </tab>
                <tab heading="Assignment" ng-click="clockPopup()">
                    <div class="col-lg-4 col-xs-12 col-md-6 col-sm-12">
                        <div class="ibox">
                            <div class="ibox-content wo-ibox">
                                <div class="form-group">
                                    <label>Employee</label>
                                    <ui-select ng-model="lookups.Employes.selected" theme="bootstrap" class="{{validation.employee ? 'wo-validation' : ' ' }}" ng-required="true" ng-click="validation.employee = false">
                                        <ui-select-match placeholder="Employee">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in lookups.Employes | filter: $select.search">
                                            <div>{{item.Name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="validation-message" ng-show="validation.employee" ng-bind="validation.message"></span>
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time ng-model="obj.assignmentDate" view="date" auto-close="true" min-view="date" format="MM/DD/YYYY">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Time: </h4> 
                                    <div class="input-group clockpicker">
                                        <input type="time" class="form-control" format="HH:MM" ng-model="obj.assignmentTime">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Parts and Labor">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table data-sort="false" class="footable table table-stripped equip">
                                        <thead>
                                            <tr>
                                                <th>Work Date</th>
                                                <th>Type</th>
                                                <th>Description</th>
                                                <th>Employee</th>
                                                <th>Billed Qty or S/N</th>
                                                <th>Cost Qty</th>
                                                <th>Rate</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX" ng-repeat="equipm in equipment track by $index">
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <div class="input-group date">
                                                        <input type="datetime" class="form-control" date-time ng-model="equipm.date" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.date}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <ui-select ng-model="equipm.equipType.selected" theme="bootstrap" on-select="resetForm(equipm)">
                                                        <ui-select-match placeholder="Type">{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="item in equipm.equipType | filter: $select.search">
                                                            <div>{{item}}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.equipType}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <ui-select ng-if="equipm.equipType.selected == 'Labor'" ng-model="equipm.labor.selected" theme="bootstrap"
                                                               on-select="setRate(this, equipm)">
                                                        <ui-select-match placeholder="Description">{{$select.selected.Description}}</ui-select-match>
                                                        <ui-select-choices repeat="item in equipm.labor | filter: $select.search | limitTo:100">
                                                            <div>{{item.Description}}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <ui-select ng-if="equipm.equipType.selected == 'Parts' || !equipm.equipType.selected" ng-model="equipm.parts.selected" theme="bootstrap"
                                                               on-select="setRate(this, equipm)">
                                                        <ui-select-match placeholder="Description">{{$select.selected.PartNumber}} {{$select.selected.Description}}</ui-select-match>
                                                        <ui-select-choices repeat="item in equipm.parts | filter: $select.search | limitTo:100">
                                                            <div>{{item.PartNumber}} {{item.Description}}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.description}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <ui-select ng-model="equipm.empl.selected" theme="bootstrap">
                                                        <ui-select-match placeholder="Employee">{{$select.selected.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="item in equipm.empl | filter: $select.search">
                                                            <div>{{item.Name}}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.empl}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <div class="input-group workorder-edit-control">
                                                        <input type="number" class="form-control" ng-model="equipm.biled" ng-change="equipm.cost=equipm.biled" step="1" min="0" value="1">
                                                    </div>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.biled}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <div class="input-group workorder-edit-control" ng-if="equipm.equipType.selected == 'Labor'">
                                                        <input type="number" class="form-control" ng-model="equipm.cost" step="0.01" min="0.00" value="0.00">
                                                    </div>
                                                    <div class="input-group workorder-edit-control" ng-if="equipm.equipType.selected == 'Parts'  || !equipm.equipType.selected">
                                                        <input type="text" class="form-control" disabled="disabled" ng-model="equipm.cost">
                                                    </div>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label ng-hide="equipm.cost==0">{{equipm.cost}}</label>
                                                </td>

                                                <td ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <div class="input-group workorder-edit-control" ng-if="equipm.equipType.selected == 'Labor'">
                                                        <input type="number" class="form-control" disabled="disabled" ng-model="equipm.rate" ng-change="equipm.cost=equipm.biled" step="0.1" min="0.0000" value="0">
                                                    </div>
                                                    <div class="input-group workorder-edit-control" ng-if="equipm.equipType.selected == 'Parts'  || !equipm.equipType.selected">
                                                        <input type="number" class="form-control" disabled="disabled" ng-model="equipm.rate" ng-change="equipm.cost=0" step="0.1" min="0.0000" value="0">
                                                    </div>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.rate}}</label>
                                                </td>

                                                <td ng-if="equipm.isEditing == false">
                                                    <label>{{equipm.biled*equipm.rate | number:4}}</label>
                                                </td>
                                                <td ng-if="equipm.isEditing == true">
                                                    <div class="input-group workorder-edit-control">
                                                        <label class="form-control text-center">{{equipm.biled*equipm.rate | number:4}}</label>
                                                    </div>
                                                </td>

                                                <td class="center" ng-if="equipm.isEditing == true" class="editable-woitem">
                                                    <a class="btn btn-danger btn-xs save-btn" ng-click="saveRow(equipm, $index)">Save</a>
                                                </td>
                                                <td ng-if="equipm.isEditing == false">
                                                    <a class="btn btn-danger btn-xs" ng-click="editRow(equipm, $index)">Edit</a>
                                                    <a class="btn btn-danger btn-xs" ng-click="deleteRow($event, equipm)">Remove</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Pictures">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div ng-show="pictures==''" class="wo-no-pictures">There are no pictures yet</div>
                                    <div class="wogalary" ng-hide="pictures==''">
                                        <div>
                                            <ul class="cbp-rfgrid">
                                                <li style="margin-bottom: 15px" ng-repeat="picture in pictures.Images" class="li-wopicture">
                                                    <div class="thumbnail picture-card">
                                                        <span>{{picture.Id}}.</span>
                                                        <a href="#" title="{{picture.Description}}" ng-click="displayLocation(picture, pictures.WorkOrder)" data-toggle="modal" data-target="#myModal">
                                                            <img ng-src="{{basePath}}/images/{{pictures.WorkOrder}}/{{picture.Image}}">
                                                        </a>
                                                        <div class="caption">
                                                            <span ng-hide="editing" ng-click="editing = true" class="badge-white pull-right glyphicon glyphicon-pencil edit-icon"></span>
                                                            <div class="picture_desc" title="{{picture.Description}}" ng-hide="editing" ng-click="editing = true">
                                                                {{picture.Description}}
                                                            </div>
                                                            <form ng-show="editing" ng-submit="editing = false">
                                                                <textarea class="picture-textarea" rows="3" placeholder="Comment" ng-model="picture.Description" class="form-control"></textarea>
                                                                <button class="btn btn-sm btn-primary" type="submit" ng-click="saveComment(picture.Description, pictures.WorkOrder, picture.Id)"><strong>Save</strong></button>
                                                                <button class="btn btn-sm btn-danger" type="submit"><strong>Cancel</strong></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-sm btn-primary" ng-hide="pictures==''" ng-click="downloadArchive()"><strong>Download all</strong></button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Notes">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table data-sort="false" class="footable table table-stripped equip">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-4 col-md-4 col-xs-4 col-sm-4">Subject</th>
                                                <th class="col-lg-6 col-md-6 col-xs-6 col-sm-6">Note</th>
                                                <th class="col-lg-2 col-md-2 col-xs-2 col-sm-2">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX" ng-repeat="note in workOrderNotes">
                                                <td class="col-lg-4 col-md-4 col-xs-4 col-sm-4" ng-bind="note.SubjectLine"></td>
                                                <td class="col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-bind="note.Text"></td>
                                                <td class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                                                    <a class="btn btn-danger btn-xs" ng-click="editNote($index, note)">Edit</a>
                                                    <a class="btn btn-danger btn-xs" ng-click="deleteNote($event, note)">Remove</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <form class="note-form">
                                            <div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                <input type="text" ng-model="noteObj.Subject" class="form-control subject-input col-lg-12 col-md-12 col-xs-12 col-sm-12" placeholder="Subject" />
                                            </div>
                                            <div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                <textarea placeholder="Note" ng-model="noteObj.Note" class="form-control note-input " rows="5"></textarea>
                                            </div>
                                            <div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                <button class="btn btn-sm btn-primary note-button" ng-hide="isEditNote" ng-click="addNote(editableWorkOrder.WorkOrder)"><strong>Add note</strong></button>
                                                <button class="btn btn-sm btn-primary note-button" ng-show="isEditNote" ng-click="saveNote()"><strong>Save</strong></button>
                                                <button class="btn btn-sm btn-danger note-button" type="cancel" ng-show="isEditNote" ng-click="saveNote()"><strong>Cancel</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button class="btn btn-sm btn-primary" form="edit_workorder_form" ng-disabled="validation.location || validation.problem || validation.employee" ng-click="saveWorkOrder()"><strong>Save</strong></button>
                    <button class="btn btn-sm btn-danger" back><strong>Cancel</strong></button>
                </div>
            </div>
        </div>
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog wo-modal">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-body">
                        <div class="pull-right"><span class="glyphicon glyphicon-remove red-icon modal-close" data-dismiss="modal"></span></div>
                        <div class="ibox">
                            <div class="row ibox-content">
                                <div id="map" class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <div ui-map="locationMap" ui-options="mapOptions" class="google-map wo-map"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <img name="modalImg" id="modalImg" class="thumbnail" />
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" name="modalComment" id="modalComment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>