<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Workorders</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a ui-sref="manager.workorder.create" class="btn btn-primary">New...</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" placeholder="Search in table" data-ng-model="searchStr" ng-model-options="{debounce: 1000}">
                    <table class="footable table table-stripped" data-page-size="100" data-filter=#filter>
                        <thead>
                        <tr>
                            <th ng-init="data = ''" ng-click="data='num'; changeSorting(data)">#</th>
                            <th class="footable-sorted" ng-click="data = 'date'; changeSorting(data)">Schedule Date</th>
                            <th ng-click="data = 'entered date'; changeSorting(data)">Entered Date</th>
                            <th ng-click="data = 'customer'; changeSorting(data)" data-hide="phone,tablet">Customer</th>
                            <th ng-click="data = 'location'; changeSorting(data)" data-hide="phone,tablet">Location</th>
                            <th ng-click="data = 'status'; changeSorting(data)">Status</th>
                            <th ng-click="data = 'action'; changeSorting(data)">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workorder in workorders">
                            <td>{{workorder.WorkOrder}}</td>
                            <td>{{workorder.ScheduleDate|date:'mediumDate' : globalTimezone}}</td>
                            <td>{{workorder.DateEntered|date:'mediumDate' : globalTimezone }}</td>
                            <td>{{workorder.ARCustomer}}</td>
                            <td>{{workorder.Location}}</td>
                            <td>
                                <span class="label open statusColor" ng-if="workorder.Status == 'Open'">
                                        {{workorder.Status}}
                                    </span>
                                <span class="label return statusColor" ng-if="workorder.Status == 'Return Required'" >
                                    {{workorder.Status}}
                                </span>
                                <span class="label work statusColor" ng-if="workorder.Status == 'Work Complete'">
                                    {{workorder.Status}}
                                </span>
                                <span class="label closed statusColor" ng-if="workorder.Status == 'Closed'" >
                                    {{workorder.Status}}
                                </span>
                                <span class="label cancelled statusColor" ng-if="workorder.Status == 'Cancelled'">
                                    {{workorder.Status}}
                                </span>
                                <span class="label expired statusColor" ng-if="workorder.Status == 'Expired Quote'">
                                    {{workorder.Status}}
                                </span>
                                <span class="label reviewed statusColor" ng-if="workorder.Status == 'Reviewed'">
                                    {{workorder.Status}}
                                </span>
                                <span class="label invoiced statusColor" ng-if="workorder.Status == 'Invoiced'">
                                    {{workorder.Status}}
                                </span>
                            </td>
                            <td class="center">
                                <a ui-sref="manager.workorder.edit({ id: '{{workorder.Id}}'})" class="btn btn-primary btn-xs">Edit...</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="6" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                        </tfoot>

                    </table>
                    <div class="nav-pager center-block">
                        <nav style="text-align: center">
                            <ul class="pagination">
                                
                                <li ng-click="PrevPage()" ng-class="{'disabled': CurrentPageNum()=='0' }">
                                    <a aria-label="Previous">
                                        <span aria-hidden="true" class="fa fa-angle-left"></span>
                                    </a>
                                </li>
                            <li ng-repeat="i in paginationList" ng-click="ShowPage(i.link)" ng-class="{'active':CurrentPageNum()==i.link, 'disabled':pagesCount==i.link }"><a ng-bind-html="i.name"> <span class="sr-only">(current)</span></a></li>
                                <li ng-click="NextPage()" ng-class="{'disabled': CurrentPageNum()==pagesCount-1 }">
                                    <a aria-label="Next">
                                        <span aria-hidden="true" class="fa fa-angle-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>